# Node.js
node_modules/
dist/
build/

# Output файли компілятора
*.compiled.json

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# VS Code
.vscode/ 

# OS файли
.DS_Store
Thumbs.db

# TypeScript
*.tsbuildinfo

# env-файли
.env
.env.*
